<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/my.css"/>
		<script src="js/jquery-1.8.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/my.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="top">
				<div class="top_con">
					<div class="top_left">
					  <a href="javascript:setHome();">将本站设为首页</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
					  <a href="javascript:topCase();">收藏本站</a>
					</div>
					<div class="top_right">
						<form name="mylogin" id="mylogin" method="post" action="#">
						  <div class="cc">
							 账号：<input type="text" name="" id="" value="" /> 
							 密码：<input type="text" name="" id="" value="" />
							 <input type="submit" class="int" value="登 录" />
							 <a href="#">用户注册</a>
						  </div>	
						</form>
					</div>
				</div>
			</div>
		<div class="header">
				<div class="wrap">
					<div class="logo">
						<img src="images/logo.gif" >
					</div>
					<div class="search">
						<form action="#" method="post" target="_blank">
							<input type="search" class="text" name="q" placeholder="小说名、作者" />
							<input type="submit" class="btn" value="搜索" />
						</form>
					</div>
				</div>
			</div>
		<div class="nav">
				<ul>
					<li><a href="index.html">首页</a></li>
					<li><a href="xuanhuan.html">玄幻小说</a></li>
					<li><a href="xianxia.html">仙侠小说</a></li>
					<li><a href="dushi.html">都市小说</a></li>
					<li><a href="lishi.html">历史小说</a></li>
					<li><a href="kehuan.html">科幻小说</a></li>
					<li><a href="wangyou.html">网游小说</a></li>
					<li><a href="wanben.html">完本小说</a></li>
					<li><a href="book.html">我的书架</a></li>
				</ul>
		</div>
		<div class="book">
			<div class="path">
				<div class="p">
					<a href="/">笔趣阁</a> &gt; <a href="/book_107660/">崛起盘龙最新章节</a>
					<span class="oninfo">
						<a rel="nofollow" href="javascript:addBookCase('107660');">加入书架</a>
					</span>
				</div>
			</div>
			<div class="info">
				<div class="cover"><img src="picture/107660s.jpg" alt="崛起盘龙"></div>
				<h2>崛起盘龙</h2>
				<div class="small"><span>作者：沐风宏远先生</span><span>分类：其他小说</span><span>状态：连载</span><span>字数：0</span><span class="last">更新时间：2019-12-14 13:01:58</span><span class="last">最新章节：<a href="/book_107660/487903787.html">第19章 实力</a></span></div>
				<div class="intro"><span>简介：</span>　　　　被雷击后穿越到了盘龙世界成为了戈巴达位面监狱王者青火，收徒林雷，超脱盘龙宇宙，行走诸天万界<br>作者：沐风宏远先生所写的《崛起盘龙》无弹窗免费全文阅读为转载作品,章节由网友发布。<br/></div>
			</div>
		</div>
		<div class="chapter">
			<dl>
				<dt>《崛起盘龙》最新章节</dt>
				<dd><a href ="/book_107660/487903787.html">第19章 实力</a></dd>
				<dd><a href ="/book_107660/487903847.html">第18章 得手</a></dd>
				<dd><a href ="/book_107660/487903912.html">第17章 离开</a></dd>
				<dd><a href ="/book_107660/487903965.html">第16章 红菱晶钻</a></dd>
				<dd><a href ="/book_107660/488533796.html">第十五章 修炼百年</a></dd>
				<dd><a href ="/book_107660/488533861.html">第十四章 切磋</a></dd>
				<dd><a href ="/book_107660/488534012.html">第十三章 墨思</a></dd>
				<dd><a href ="/book_107660/488534471.html">第十二章 出发，星辰雾海</a></dd>
				<dd><a href ="/book_107660/488534780.html">第十一章 终于突破</a></dd>
				<dd><a href ="/book_107660/488586496.html">第十章 神格</a></dd>
				<dd><a href ="/book_107660/488586518.html">第九章 帝翼城</a></dd>
				<dd><a href ="/book_107660/488755345.html">第八章 镜月崖</a></dd>
				<dt>《崛起盘龙》正文卷</dt>
				<dd><a href ="/book_107660/489059751.html">盘龙篇 第一章 穿越</a></dd>
				<dd><a href ="/book_107660/489059103.html">第二章 林雷</a></dd>
				<dd><a href ="/book_107660/488960376.html">第三章 阿德金斯</a></dd>
				<dd><a href ="/book_107660/488959941.html">第四章 贝鲁特</a></dd>
				<dd><a href ="/book_107660/488959386.html">第五章 拒绝</a></dd>
				<dd><a href ="/book_107660/488756488.html">第六章 主神之力</a></dd>
				<dd><a href ="/book_107660/488755407.html">第七章 四神兽家族</a></dd>
				<dd><a href ="/book_107660/488755345.html">第八章 镜月崖</a></dd>
				<dd><a href ="/book_107660/488586518.html">第九章 帝翼城</a></dd>
				<dd><a href ="/book_107660/488586496.html">第十章 神格</a></dd>
				<dd><a href ="/book_107660/488534780.html">第十一章 终于突破</a></dd>
				<dd><a href ="/book_107660/488534471.html">第十二章 出发，星辰雾海</a></dd>
				<dd><a href ="/book_107660/488534012.html">第十三章 墨思</a></dd>
				<dd><a href ="/book_107660/488533861.html">第十四章 切磋</a></dd>
				<dd><a href ="/book_107660/488533796.html">第十五章 修炼百年</a></dd>
				<dd><a href ="/book_107660/487903965.html">第16章 红菱晶钻</a></dd>
				<dd><a href ="/book_107660/487903912.html">第17章 离开</a></dd>
				<dd><a href ="/book_107660/487903847.html">第18章 得手</a></dd>
				<dd><a href ="/book_107660/487903787.html">第19章 实力</a></dd>
			</dl>
		</div>
		<div class="footer">
				<div class="link">
				笔趣阁友情连接： 
				<a href="#" target="_blank">笔趣阁</a>
				<a href="#" target="_blank">凡人修仙传仙界篇</a>
				<a href="#" target="_blank">沧元图</a>
				<a href="#" target="_blank">王婿</a>	
				</div>
			<hr>
			<p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
			<p>Copyright © 2017 笔趣阁 All Rights Reserved.</p>
			</div>	
	</body>
</html>
