<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/my.css"/>
		<script src="js/jquery-1.8.3.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="top">
			<div class="top_con">
				<div class="top_left">
				  <a href="javascript:setHome();">将本站设为首页</a>
					&nbsp;&nbsp;|&nbsp;&nbsp;
				  <a href="javascript:topCase();">收藏本站</a>
				</div>
				<div class="top_right">
					<form name="mylogin" id="mylogin" method="post" action="#">
					  <div class="cc">
						 账号：<input type="text" name="" id="" value="" /> 
						 密码：<input type="text" name="" id="" value="" />
						 <input type="submit" class="int" value="登 录" />
						 <a href="#">用户注册</a>
					  </div>	
					</form>
				</div>
			</div>
		</div>
		<div class="header">
			<div class="wrap">
				<div class="logo">
					<img src="images/logo.gif" >
				</div>
				<div class="search">
					<form action="#" method="post" target="_blank">
						<input type="search" class="text" name="q" placeholder="小说名、作者" />
						<input type="submit" class="btn" value="搜索" />
					</form>
				</div>
			</div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="xuanhuan.html">玄幻小说</a></li>
				<li><a href="xianxia.html">仙侠小说</a></li>
				<li><a href="dushi.html">都市小说</a></li>
				<li><a href="lishi.html">历史小说</a></li>
				<li><a href="kehuan.html">科幻小说</a></li>
				<li><a href="wangyou.html">网游小说</a></li>
				<li><a href="wanben.html">完本小说</a></li>
				<li><a href="book.html">我的书架</a></li>
			</ul>
		</div>
		<div class="main">
			<div class="m_top">
				<div class="hotlist">
					<div class="item"><div class="p10"><div class="image"><a href="/book_51/" target="_blank"><img src="picture/3352s.jpg" alt="六迹之梦魇宫" width="120" height="150" border="0" /></a></div><dl><dt><span>忘语</span><a href="/book_51/" target="_blank">六迹之梦魇宫</a></dt><dd>　　忘语中短篇出品，六迹系列第二部，梦魇宫！　　神山破碎，神石携三十六宗族飞升，自称为仙界。仙族为破获神石秘密，使得......</dd></dl></div></div>
					<div class="item"><div class="p10"><div class="image"><a href="/book_4070/" target="_blank"><img src="picture/86493s.jpg" alt="封神问道行" width="120" height="150" border="0" /></a></div><dl><dt><span>莫问初心</span><a href="/book_4070/" target="_blank">封神问道行</a></dt><dd>浑噩痴傻十六年，一朝醒来却换了人间。陆川醒来，却发现自己身处在封神时代，一场集结了仙、妖、神、人、魔的争斗，也即......</dd></dl></div></div>
					<div class="item"><div class="p10"><div class="image"><a href="/book_91260/" target="_blank"><img src="picture/65928s.jpg" alt="道君" width="120" height="150" border="0" /></a></div><dl><dt><span>跃千愁</span><a href="/book_91260/" target="_blank">道君</a></dt><dd>　　一个地球神级盗墓宗师，闯入修真界的故事……　　桃花源里，有歌声。　　山外青山，白骨山。　　五花马，千金裘，倚天剑......</dd></dl></div></div>
					<div class="item"><div class="p10"><div class="image"><a href="/book_4107/" target="_blank"><img src="picture/4107s.jpg" alt="神墓" width="120" height="150" border="0" /></a></div><dl><dt><span>辰东</span><a href="/book_4107/" target="_blank">神墓</a></dt><dd>　　一个死去万载岁月的平凡青年从远古神墓中复活而出……　　......</dd></dl></div></div>
					<div class="item"><div class="p10"><div class="image"><a href="/book_680/" target="_blank"><img src="picture/680s.jpg" alt="帝霸" width="120" height="150" border="0" /></a></div><dl><dt><span>厌笔萧生</span><a href="/book_680/" target="_blank">帝霸</a></dt><dd>　　千万年前，李七夜栽下一株翠竹。　　八百万年前，李七夜养了一条鲤鱼。　　五百万年前，李七夜收养一个小女孩。　　今天......</dd></dl></div></div>
					<div class="item"><div class="p10"><div class="image"><a href="/book_4221/" target="_blank"><img src="picture/4221s.jpg" alt="诛仙二" width="120" height="150" border="0" /></a></div><dl><dt><span>萧鼎</span><a href="/book_4221/" target="_blank">诛仙二</a></dt><dd>    八月十五，正值佳节圆月。王宗景、小鼎一行人难得清闲来到离青云山不远的河阳城内。只因小鼎顽皮，来到河阳城外一处......</dd></dl></div></div>
				</div>
			</div>
			<div class="m_lr_wrap">
				<div class="m_left">
					<h2>好看的玄幻小说最近更新列表</h2>
					<ul>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_98110/">极品废柴：家有娘子猛如虎</a></span><span class="s3"><a href="/book_98110/">第七章</a></span><span class="s4">淡淡的幽伤</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_98539/">启禀神君：小师妹只娶不嫁</a></span><span class="s3"><a href="/book_98539/">第377章 喂药</a></span><span class="s4">公子无争</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_95924/">盛宠之妖妃嫁到</a></span><span class="s3"><a href="/book_95924/">第一百五十七章 完结章</a></span><span class="s4">瞳安墨</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_97915/">平行世界之彼岸生花</a></span><span class="s3"><a href="/book_97915/">入坑130米 小矫情</a></span><span class="s4">满目飞花万点</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_105049/">钧仙</a></span><span class="s3"><a href="/book_105049/">第151章不升则永坠</a></span><span class="s4">枫雪乱</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_96527/">朱雀戾</a></span><span class="s3"><a href="/book_96527/">新作《七弟子：师兄快放下那个女装！》</a></span><span class="s4">腰斩.</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_96041/">魔君留步：黑心大神甜心妖</a></span><span class="s3"><a href="/book_96041/">第109章 杀</a></span><span class="s4">眼前是明昼</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_97208/">魔渡有缘人</a></span><span class="s3"><a href="/book_97208/">第三十六章 初入北冥</a></span><span class="s4">泼墨飞雪</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_97316/">天才玄药师</a></span><span class="s3"><a href="/book_97316/">016 成全你</a></span><span class="s4">若雪三千</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_97856/">冷酷战神独宠仙妻</a></span><span class="s3"><a href="/book_97856/">第445章 小银是色狼？！（一更）</a></span><span class="s4">珍若水</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_103037/">万古最强宗</a></span><span class="s3"><a href="/book_103037/">第三百六十九章灵光时代</a></span><span class="s4">小三胖子</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_104314/">血魔霸天下</a></span><span class="s3"><a href="/book_104314/">0178 父子怒斥意见相左</a></span><span class="s4">高山仰之</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_96725/">重生暖婚：全能娇妻宠上瘾</a></span><span class="s3"><a href="/book_96725/">第064章瞎了眼</a></span><span class="s4">江山如故</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_107212/">万古第一婿</a></span><span class="s3"><a href="/book_107212/">第两百零九章 一剑</a></span><span class="s4">纯情犀利哥</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_96918/">妖王大大，快宠我</a></span><span class="s3"><a href="/book_96918/">112 大结局</a></span><span class="s4">桃子小仙</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_96971/">魔女逆天：师父，好吃吗</a></span><span class="s3"><a href="/book_96971/">第八十五章 一切都结束了</a></span><span class="s4">天生好命</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_98152/">凤倾天下：邪尊狂妃</a></span><span class="s3"><a href="/book_98152/">第237章（大结局）</a></span><span class="s4">蓝岚天空</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_95721/">狐影仙踪凡世缘</a></span><span class="s3"><a href="/book_95721/">第五十一章 灵蛇仙草活人命</a></span><span class="s4">谷余音</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_27522/">美女总裁爱上小保安：绝世高手</a></span><span class="s3"><a href="/book_27522/">第3274章 灵尊到来</a></span><span class="s4">问鼎</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_94948/">异界：我老公是条蛇</a></span><span class="s3"><a href="/book_94948/">第四十五章 大结局</a></span><span class="s4">锦衣燕行</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_95146/">穿越之最西游</a></span><span class="s3"><a href="/book_95146/">第四十四章 九彩琉璃火</a></span><span class="s4">花诀</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_95154/">火神强婚：师弟别跑</a></span><span class="s3"><a href="/book_95154/">第三百六十九章 我幸为仙</a></span><span class="s4">大岍</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_94958/">天君药宠：神妃缥缈记</a></span><span class="s3"><a href="/book_94958/">番外篇 神界来的小仙童 二</a></span><span class="s4">天下作夭</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_96573/">双面妖妃：陛下，别来无恙！</a></span><span class="s3"><a href="/book_96573/">第两百一十一章：使计</a></span><span class="s4">赵贵妃</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_106685/">文明之星神劫</a></span><span class="s3"><a href="/book_106685/">259. 你在开玩笑吗？</a></span><span class="s4">逍遥狂懒人</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_105511/">神医如倾</a></span><span class="s3"><a href="/book_105511/">第1259章&#160;她的目的？</a></span><span class="s4">萧七爷</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_97124/">凰狐</a></span><span class="s3"><a href="/book_97124/">第一百五十一章 大结局</a></span><span class="s4">叶起秋风</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_96738/">静听心中语，笑看别时花</a></span><span class="s3"><a href="/book_96738/">第一百一十四章 静听心语笑看花（大结局）</a></span><span class="s4">苍然一色</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_21934/">鸿元至尊</a></span><span class="s3"><a href="/book_21934/">第三百一十一章磨刀石</a></span><span class="s4">东昕512</span><span class="s5">12-14</span></li>
					<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="/book_96452/">废柴逆天：夫君，别太撩</a></span><span class="s3"><a href="/book_96452/">第六十四章 完结撒花</a></span><span class="s4">流念紫苏</span><span class="s5">12-14</span></li>
					</ul>
				</div>
				<div class="m_right">
					<h2>小说相关推荐</h2>
					<ul>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_27363/">百炼成神</a></span><span class="s3">恩赐解脱</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_77/">傲世九重天</a></span><span class="s3">风凌天下</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_62565/">万古天帝</a></span><span class="s3">第一神</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_15314/">异世之风流大法师</a></span><span class="s3">天堂不寂寞</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_67257/">牧神记</a></span><span class="s3">宅猪</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_1382/">最强兵王</a></span><span class="s3">静听风止</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_1314/">造化之王</a></span><span class="s3">猪三不</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_37/">大主宰</a></span><span class="s3">天蚕土豆</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_4217/">七界传说</a></span><span class="s3">心梦无痕</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_18/">混沌剑神</a></span><span class="s3">心星逍遥</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_76977/">伏天氏</a></span><span class="s3">净无痕</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_661/">斗罗大陆II绝世唐门</a></span><span class="s3">唐家三少</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_4220/">诛仙</a></span><span class="s3">萧鼎</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_81403/">诡秘之主</a></span><span class="s3">爱潜水的乌贼</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_87962/">一剑独尊</a></span><span class="s3">青鸾峰上</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_4089/">星辰变</a></span><span class="s3">我吃西红柿</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_27197/">囚婚</a></span><span class="s3">如花美眷&nbsp;&nbsp;似水流年</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_139/">元尊</a></span><span class="s3">天蚕土豆</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_64640/">超维术士</a></span><span class="s3">牧狐</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_90586/">召唤梦魇</a></span><span class="s3">滚开</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_7629/">异界之魔武流氓</a></span><span class="s3">新版红双喜</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_1084/">逆天邪神</a></span><span class="s3">火星引力</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_98129/">我真的是反派啊</a></span><span class="s3">情史尽成悔</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_1181/">无敌升级王</a></span><span class="s3">可爱内内</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_12389/">妖神记</a></span><span class="s3">发飙的蜗牛</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_90177/">长生种</a></span><span class="s3">月中阴</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_104/">绝世武神</a></span><span class="s3">净无痕</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_80618/">厉害了我的原始人</a></span><span class="s3">竹刺无锋</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_22171/">圣墟</a></span><span class="s3">辰东</span></li>
					<li><span class="s1">[玄幻]</span><span class="s2"><a href="/book_1421/">万古至尊</a></span><span class="s3">太一生水</span></li>
					</ul>
				</div>
			</div>
		</div>
	    <div class="footer">
			<div class="link">
			笔趣阁友情连接： 
			<a href="#" target="_blank">笔趣阁</a>
			<a href="#" target="_blank">凡人修仙传仙界篇</a>
			<a href="#" target="_blank">沧元图</a>
			<a href="#" target="_blank">王婿</a>	
			</div>
		<hr>
		<p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
		<p>Copyright © 2017 笔趣阁 All Rights Reserved.</p>
		</div>	
	</body>
</html>
